// Le menu burger
.navbar-toggler-icon {
  background-image: none;
  width: 28px;
  height: 3px;
  background-color: black;
  position: relative;
  opacity: 1;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: black;
    left: 0;
  }

  &::before {
    top: -10px;
  }

  &::after {
    top: 10px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.side-menu {
  position: fixed;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  transition: right 0.3s ease;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);

  &.open {
    right: 0;
  }
}

// Menu desktop
.navbar {
  border-bottom: 1px solid black;

}

// style général couleur des liens
.nav-link {
  transition: color 0.2s ease;

  &:hover {
    color: #6C5CCF !important;
  }
}

.active-link {
  color: #7763C5 !important;
  font-weight: bold;
}
.nav-link.text-danger {
  &:hover {
    cursor: pointer;
    color: #de7a82 !important;
  }
}


